body {
  background: #fff;
  color: #1b1b25;
  font-family: "Josefin Sans", sans-serif;
}

.separator {
  width: 80%;
}

.title {
  margin-top: 60px;
  margin-bottom: 50px;
}
.title a {
  color: #3356ff;
}
.title a:hover {
  text-decoration: none;
  font-weight: bolder;
}
.title hr {
  width: 75%;
}
.work-experience {
  padding: 50px;
}
.work-experience .experience-title {
  margin-top: 60px;
}
.work-experience .experience-summary {
  margin-top: 10px;
  margin-bottom: 60px;
}
.work-experience p {
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}
/* Center child elements */
body,
footer {
  font-size: 1.0rem;
  background: #fff;
}
