body {
  background: #fff;
  color: #1b1b25;
  font-family: "Josefin Sans", sans-serif;
}

.separator {
  width: 80%;
}

.title {
  margin-top: 60px;
  margin-bottom: 10px;
}
.title a {
  color: #db4d57;
}
.title a:hover {
  text-decoration: none;
  font-weight: bold;
}
.title hr {
  width: 75%;
}

.summary {
  padding: 20px;
}
.summary p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.work-experience {
  padding: 70px;
}
.work-experience .experience-title {
  margin-top: 60px;
}
.work-experience .experience-summary {
  margin-top: 20px;
  margin-bottom: 60px;
}
.work-experience p {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
/* Center child elements */
body,
.website-counter {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}